SHELL=/bin/bash

# package provider - fetch all repositories every day at midnight
0 0 * * * ENV=production ~/package_provider/bin/run_fetch_repositories.sh &>> /var/log/package-provider-cron-fetch.log

# package provider cache - delete files older than 7 days every week at midnight
0 0 * * 0 ENV=production ~/package_provider/bin/clean_cache.rb -d 7 &>> /var/log/package-provider-cron-clean-cache.log

# package provider cache - delete files created by failed caching every week as midnight
0 0 * * 0 ENV=production ~/package_provider/bin/clean_cache.rb --only-failed -d -1 &>> /var/log/package-provider-cron-clean-failed.log
