SHELL=/bin/bash

# package provider - fetch all repositories every day at midnight
0 0 * * * ENV=production ~/package_provider/bin/run_fetch_repositories.sh &>> /var/log/package-provider-cron-fetch.log
