default: &defaults
  sentry_dsn: 'https://hash:hash@example.com'
  log_level: 0
  time_zone: :utc
  allowed_origin: '*'
  base_url: '/api/v1'
  package_cache_root: /var/tmp
  repository_cache_root: /var/tmp
  default_folder_override: ['automation', nil]
  sidekiq:
    packer_reschedule_time: 15
    packer_retry_on_error: false
    clone_retry_on_error: false
  zip:
    default_compression: <%= Zlib::BEST_COMPRESSION %>
  graphite:
    host:
    port: 2003
    options: {}

production:
  <<: *defaults

development:
  <<: *defaults

test:
  <<: *defaults
  sentry_dsn:
  log_level: <%= Logger::WARN %>
  time_zone: :utc
  graphite:
