default: &defaults
  local_repo_paths:
    git@github.com:AVGTechnologies/package_provider.git: /var/tmp/package_provider_clone
    git@github.com:AVGTechnologies/lab_manager.git: /var/tmp/lab_manager_clone

production:
  <<: *defaults

development:
  <<: *defaults

test:
  <<: *defaults
